<nav
  class="navbar fixed-top navbar-expand navbar-dark"
  style="background-color: #0046a1;"
>
  <a class="navbar-brand">TodoApp</a>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link" href="/user/logout">Logout</a>
    </li>
  </ul>
</nav>
<div class="mt-5 pt-5"></div>
<%- include('message') -%>
