<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todo App | Update</title>
    <link rel="stylesheet" href="/public/main.css">
</head>
<body>
    <h1>Todo App | Update</h1>

    <div class="container">
        <form method="POST">
            <p>Todo :
                <input type="text" name="todo" value="<%- data.message %>">
                <input type="submit" value="Update">
            </p>
        </form>
    </div>
</body>
</html>